<h2> Choose your date below </h2>
<ul>
<% @dates.zip(@checked_availability).each do |date, available| %>
 <li> <%= date %> <%= available %> <% if available != "Not Available" %>
 <form action = '/booking/confirm_booking/<%= date %>' method='get'> 
 <input type='submit' value='Book'>
 </form>
 <%end%>
 </li>
<%end%> 
</ul>