<h2>Current Booking Request:</h2> 
London Road, <% @booked_dates.zip(@approved_array).each do |date, approval_status| %>
  <% if  approval_status == false %>
  <%= date %>
  <form action='/check_request/<%= date %>' method='post'>
  <input type='submit' value='Approve'>
  </form>
  <% else %>
  <div> Approved <%= date %> </div>
  <% end %>
<% end %>
