<h2>Current Booking Request:</h2> 
London Road, <% @booked_dates.each do |date| %>
<%= date %>
<form action='/check_request'>
  <input type='submit' value='Approve'>
</form>
<% end %>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
