<body>
  <h1> <%= @username %> </h1>
  <a href="/list_a_space">List a Space</a>
  <a href="/add_booking">Book a Space</a>

  <div>
  <% @listings.each do |listing| %>
    <%= listing['name'] %>
  <% end %>
  </div>
</body>