<head> 
  <link href="<%= url('/view_all_listings.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id='top-bar'>
    <div id='logo'>
    </div>
    <h1> MakersBnB </h1>
  </div>
<div id='login-signup-container'>
    <form action="/login" method="get">
      <input type="submit" value="login" id='login-btn'>
    </form>

    <form action="/sign_up" method="get">
      <input type="submit" value="Sign Up" id='signup-btn'>
    </form>
</div>
  <h3> Discover places to stay </h3>
    <% @listings.each do |listing| %>
    <div id='space-container'>
      Name: <%= listing['name'] %>
      <br>
      Description: <%= listing['description'] %>
      <br>
      Price: <%= listing['price'] %>
      <br>
      </div>
      <% end %>

</body>