<head> 
  <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id='top-bar'>
    <div id='logo'>
    </div>
    <h1> MakersBnB </h1>
  </div>

    <form action="/login" method="get">
      <input type="submit" value="login" class='login-signup-btn'>
    </form>

    <form action="/sign_up" method="get">
      <input type="submit" value="Sign Up" class='login-signup-btn'>
    </form>

  <h3> Discover places to stay </h3>

  <div id='space-container'>
    Name: London Pad 
    <br>
    Description: Kensington Flat
    <br>
    Price: £300
  </div>
</body>