<form action="/makersbnb/listing_created" method="post">
  <input required type="text" name="Name" placeholder='My Awesome Space'/>
  <input required type="number" name="Price" />
  <input required type="text" name="Description"/>
  <input type="submit" value="Submit" />
</form>