<!DOCTYPE html>
<head>
  <title>List a space</title>
  <link rel="stylesheet" type="text/css" href="<%= url("/listing_form_style.css")%>">
  <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
</head>
<body>

  <div id='top-bar'>
    <div id='logo'>
    </div>
    <h1> MakersBnB </h1>
  </div>

  <nav> 
    <a href="/home" id='home'><i class="fas fa-home"></i> Home</a>
    <div id="nav-links-list">
      <a href="/check_request">Check Request</a> |
      <a href="/update_booking">Update Space</a> |
      <a href="/">Logout</a><i class="fas fa-user"></i>
    </div>
  </nav>

  <div class = "container">
    <h1>Please create your listing</h1>
    <%= if MakersBnb_Listings.unsuccessful == true then 
    'Listing unsucessful. That name has been taken, please try again' end %>

    <form class ="listing_form" action="/listing_created" method="post">
      <input required type="text" name="Name" placeholder='My Awesome Space'/>
      <input required type="number" min='0' name="Price" placeholder="Price per night" />
      <input required type="text" name="Description" placeholder="Description"/>
      <input type="text" name="space_url" placeholder="Space Url"/>
      <input type="submit" value="Submit" />
    </form>
  </div>
</body>