<form action="" method="post">
  <input type="text" name="Space Name" placeholder='My Awesome Space'/>
  <input type="text" name="Price"/>
  <input type="text" name="Description"/>
  <input type="submit" value="Submit" />
</form>