<head>
  <link href="<%= url('/login.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id='top-bar'>
    <div id='logo'>
    </div>
  <h1>Welcome to MakersBnB</h1>
  </div>

 <div id='form-container'>
    <form action="/user_details" method="post">
      <input type="text" name="username" placeholder="username" id='username'>
      <br>
      <input type="password" name="password" placeholder="password" id='password'>
      <br>
      <input type="submit" value="login" id='login-btn'>
    </form>
  </div>
</body>