<body>
  <h1>Welcome to MakersBnB</h1>

  <form action="/user_details" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="login">
  </form>
</body>