<!DOCTYPE html>
<head>
  <link href="<%= url('/check_request.css') %>" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id='header'>
    <div id='logo'>
    </div>
    <h1>MakersBnB</h1>
  </div>

  <nav>
    <a href="/home" id='home'><i class="fas fa-home"></i> Home</a>
    <div id='nav-links'>
      <a href="/list_a_space">List a Space</a> |
      <a href="/">Logout</a><i class="fas fa-user"></i>
    <div>
  </nav>

 <div id='booking-requests'>
  <h2>My Bookings:</h2> 

    <% @mapped_bookings.each do |booking| %>
      <li><%= booking %></li>
    <%end%> 
  <div>
</body>
