<!DOCTYPE html>
<head>
  <title>List a space</title>
  <link rel="stylesheet" type="text/css" href="<%= url("/check_request.css")%>">
  <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
</head>
<body>

  <div id='header'>
    <div id='logo'>
    </div>
    <h1> MakersBnB </h1>
  </div>

  <nav> 
   <a href="/home" id='home'><i class="fas fa-home"></i> Home</a>
    <div id="nav-links">
      <a href="/check_request">Check Request</a> |
      <a href="/">Logout</a><i class="fas fa-user"></i>
    </div>
  </nav>

  <h1 id='my-spaces'> My Spaces </h1>

  <section id='update-request-container'>
    <% Updater.list(id: session[:user_id]).each do |spaces|%>
    <h3><%= spaces %></h3>

    <form action = '/edit_listing/<%= (Updater.space_id(space: spaces))[0] %>' method='get'> 
      <input type='submit' value='Edit listing' id='edit-listing'>
    </form>
    <form action = '/change_listing_days/<%=  (Updater.space_id(space: spaces))[0]%>' method='get'> 
      <input type='submit' value='Edit availability' id='edit-availability'>
    </form>

    <%end%>
  </section>
</body> 