#logo {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO7Wg2cD5bQcc6ehPAU3QAdhCCwbDop2pM5Q&usqp=CAU');
  background-size: contain;
  width: 40px;
  height: 40px;
}
#welcome {
  background-color: #ffe6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: red;
  font-size: 2rem;
}
/* navbar */
a {
  text-decoration: none;
  color: red;
  border-radius: 5px;
  padding: 0.5rem;
}
a:hover {
  color: blue;
}
nav {
  /* position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 20; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-top: 10px;
}
#home {
  margin: auto auto auto 0.5rem;
}
p {
  color: red;
}
.fa-home {
  font-size: 1.2rem;
  color: black;
}
#nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
}
.fa-user {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#username {
  margin-right: 0.8rem;
  text-transform: capitalize;
  font-weight: bold;
  color: red;
}
/* main */
#space-container {
  max-width: 900px;
  max-height: 600px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.8rem auto 0.8rem auto;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(230, 247, 255 ,0.5);
}
img {
  max-width: 320px;
  width: 100%;
  height: 320px;
  border-radius: 8px;
  display: block;
  margin-left: 0.5rem;
  border: 1px dotted black;
}
#details-space {
  display: flex;
  flex-direction: column;
  /* margin-right: auto; */
  width: 40rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
h4 {
  font-size: 1.6rem;
  border-bottom: 1px dotted black;
}
#name {
  width: 18rem;
}
#description {
  font-size: 1.1rem;
}
#price {
  font-weight: bold;
  margin-top: 1rem;
  margin-left: auto;
}
#book-now {
  width: 6rem;
  height: 5rem;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}
