#logo {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO7Wg2cD5bQcc6ehPAU3QAdhCCwbDop2pM5Q&usqp=CAU');
  background-size: contain;
  width: 40px;
  height: 40px;
}
#top-bar {
  background-color: #ffe6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: red;
  font-size: 2rem;
}
/* buttons */
#login-signup-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
#login-btn {
  background-color: white;
  width: 5rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 15px;
}
#signup-btn {
  background-color: white;
  width: 5rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 15px;
  margin-left: 1rem;
}
/* main */
h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
#space-container {
  max-width: 900px;
  max-height: 600px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.8rem auto 0.8rem auto;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(230, 247, 255 ,0.5);
}
img {
  max-width: 300px;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  display: block;
  margin-left: 0.5rem;
  border: 1px dotted black;
}
#details-space {
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
h4 {
  font-size: 1.6rem;
  border-bottom: 1px dotted black;
}
#name {
  width: 18rem;
}
#description {
  font-size: 1.1rem;
}
#desc {
  font-size: 1.2rem;
  font-style: italic;
}
#price {
  font-weight: bold;
  margin-top: 1rem;
  margin-left: auto;
}
#book-now {
  width: 6rem;
  height: 5rem;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}
