#logo {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO7Wg2cD5bQcc6ehPAU3QAdhCCwbDop2pM5Q&usqp=CAU');
  background-size: contain;
  width: 40px;
  height: 40px;
}
#top-bar {
  background-color: #ffe6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: red;
  font-size: 2rem;
}
#form-container {
  background-color: #ffe6e6;
  display: flex;
  flex-direction: column;
  margin: 3rem auto auto;
  align-items: center;
  max-width: 400px;
  width: 100%;
  padding: 3rem;
  border: 1px black solid;
  border-radius: 5px;
}
#username, #password {
  height: 3.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 15rem;
  border: 1px solid black;
  padding-left: 0.6rem;
}
.username {
  height: 3.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 12rem;
  border: 1px solid black;
  padding-left: 0.6rem;
}
#login-btn {
  background-color: red;
  color:white;
  width: 15rem;
  height: 2.8rem;
  border-radius: 5px;
  border: 1px solid black;
}
/* in sign up page */
#back_to_login {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4rem;
}
#back_to_login:hover {
  color:red;
}
/* in login page */
#go_to_sign_up {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4rem;
}
#go_to_sign_up:hover {
  color:red;
}